@import "_vars.scss";
@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/utilities";


main {
    margin-top: 5rem;/* 
    margin-left: 22rem; */
    margin-left: 20.8rem;
    margin-bottom: 5rem;
    z-index: 1000;
    .section-summary {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .section-summary-board {
        .card {
            border: none;
        }
        .badge {
            background-color: $cust-green4;
        }
        .co-highlight {
            div.myCard {
                height: 150px;
                width: 360px;
                background-color: $cust-gray1;
                position: relative;
                border-radius: $card-border-radius;
                div.content {
                    height: 100px;
                    margin-top: 10px;
                    padding-left: 20px;
                    color: $cust-gray7;
                    font-size: 14.6px;
                }
            }
            #propGraph, #clientsGraph {
                height: 150px;
            }
        }
        .highlight-slider {
            height: 220px;
            width: 360px;
            margin-top: 1rem;
            background-color: $cust-gray1;
            position: relative;
            .highlight-slider-text {
                padding-left: 1.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 4px;
                background-color: rgba(0,0,0,0.2);
                position: absolute;
                z-index: 1000;
                top: 0.5rem;
                left: 0.8rem;
                font-size: 14.6px;
                color: $cust-gray1;
            }
            /* .highlight-slider-img {
                position: relative;
            } */
            .carousel-item img {
                width: 360px;
                height: 220px;
                border-radius: $card-border-radius;
            }
            .carousel-control-prev-icon, .carousel-control-next-icon {
                color: $cust-gray1;
            }
            .carousel-control-prev, .carousel-control-next {
                position: relative;
            }
            .carousel-control-prev-icon {
                position: absolute;
                left: 7rem;
                bottom: 1rem;
            }
            .carousel-control-next-icon {
                position: absolute;
                left: 14rem;
                bottom: 1rem;
            }
        }
    }
    .section-prop-data {
        background-color: $cust-gray1;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        .div-table-title {
            background-color: $cust-color2;
            color: $cust-gray7;
            margin-left: 2.5rem;
            margin-right: 3.5rem;
            padding-right: 2rem;
            padding-left: 1rem;
            height: 55px;
            /* .search-tab {
                background-color: $cust-gray1;
                height: 30px;
            } */
        }
        .data-table-wrapper {
            background-color: $cust-color2;
            margin-top: 2rem;
            padding-top: 1.5rem;
            padding-bottom: 3rem;
            position: relative;
            .div-table-tabs {
                height: 60px;
                padding: 4px;
                margin: 2rem 0;
                background-color: $cust-gray1;
                border-radius: 4px;
            }
            .ctable-title {
                color: $cust-gray7;
                margin-left: 4rem;
                .prodSelect {
                    font-size: 15px;
                    select {
                        color: $cust-gray7;
                        border: 1px solid $cust-dark1;
                        border-radius: 5px;
                        background-color: $cust-color2;
                        cursor: pointer;
                    }
                }
            }
            table {
                margin-top: 3rem;
                background-color: $cust-color2;
            }
            #clientsTable_filter, #projTable_filter, #staff-table_filter {
                margin-bottom: 2rem;
            }
            #clientsTable_filter input,  #projTable_filter input, #staff-table_filter input {
                background-color: $cust-gray1;
                width: 110px;
                border-radius: 6px;
            }
            #clientsTable_length, #projTable_length, #staff-table_length {
                display: none;
            }
            #projTable_info, #projTable_paginate, #clientsTable_info, #clientsTable_paginate, #staff-table_info, #staff-table_paginate {
                font-size: 13px;
            }
            .paginate_button {
                padding: 4px 6px;
                line-height: 17px;
            }
            .staff-plus {
                position: absolute;
                top: 4rem;
                left: 4rem;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    box-shadow: 1px 1px 4px 0.6px rgba(0,0,0,0.2);
                    background-color: $cust-gray1;
                    color: $blue-600;
                }
                i {
                    font-size: 26;
                }
            }
        }
        .table-tab {
            background-color: $cust-gray1;
            height: 30px;
            width: 115px;
        }
        thead {
            background-color: $cust-orange2;
            border-bottom: none;
            color: $cust-gray7;
        }
        tbody {
            font-size: 14.5px;
        }
    }
    .current-staff {
        border-radius: 4px;
        margin-bottom: 6rem;
        .div-current-staff-prof {
            height: 26rem;
            background-color: $cust-gray1;
            position: relative;
        }
        .prof-header {
            height: 10rem;/* 
            background-image: url("../imgs/logo-image3.jpg");
            background-size: 80% 80%; */
            background-color: $green-900;
        }
        div.profile-img {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            position: absolute;
            top: 4.7rem;
            left: 3rem;
            background-color: $cust-gray1;
            img {
                width: 160px;
                height: 160px;
                border-radius: 50%;
            }
        }
        .prof-body {
            height: 16rem;
            .info-container {
                margin-top: 5.3rem;
                :nth-child(2) {
                    article {
                        margin: 5px 0px;
                        i {
                            font-size: 28px;
                        }
                    }
                }
                a {
                    text-decoration: none;
                }
                .quick-contact {
                    margin-top: 0.8rem;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                }
                a.btn {
                    font-size: 13px;
                }
            }
        }
    }
}
.collapse-link {
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}
.top-nav {
    height: 4rem;
    background-color: $cust-color2;
}
.nav-div-drop {
    position: fixed;
    top: 5rem;
    left: 3rem;
    bottom: 3rem;
    width: 14rem;
    padding-left: 0.6rem;
    background-color: $cust-gray1;
    .staff-prof-sm {
        @include media-breakpoint-up(md) {
            display: none;
        }
        margin-top: 1.5rem;
        margin-right: 0.8rem;
        margin-bottom: 1rem;
    }
    .div-recents {
        a {
            text-decoration: none;
            color: $cust-gray7;
        }
        div {
            height: 15rem;
            background-color: $gray-300;
        }
    }
    .support {
        div {
            height: 15rem;
            background-color: $gray-300;
        }
    }
}
.navbar-toggler-wrapper {
    margin-left: 3rem;
    font-size: 12px;
    :nth-child(2) {
        font-size: 18px;
    }
}
.cnavbar-toggler {
    .navbar-toggler-icon {
        font-size: 22px;
    }
}
.section-quick-acc {
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.div-quick-acc {
    height: 4rem;
    padding-top: 0.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: $cust-color2;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0,0,0,0.2);
    position: relative;
    .div-co-name h1 {
        font-size: 18px;
    }
    .offcanvas {
        background-color: $cust-gray1;
        .div-current-profile {
            background-color: $green-900;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            margin-right: 2rem;
            img {
                height: 90px;
                width: 90px;
                border-radius: 50%; 
            }
        }
        hr {
            width: 2px;
            color: $cust-color2;
            border: 3px solid $cust-color2;
        }
        .article-staff-details {
            background-color: $cust-color2;
            margin-top: 1rem;
            height: 22rem;
        }
        .staff-details {
            padding-top: 3rem;
            padding-left: 2rem;
            height: 18rem;
            form {
                height: 12rem;
                span {
                    width: 280px;
                }
            }
            label {
                width: 70px;
            }
            .txt-input {
                width: 170px;
                text-align: center;
            }
        }
    }
}
.div-staff-prof {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
}
.staff-accessories {
    width: 10rem;
    height: 7rem;
    border-radius: 4px;
    background-color: $cust-gray1;
    box-shadow: 2px 2px 10px 0.4px rgba(0,0,0,0.2);
    
    .header-wrapper {
        height: 2rem;
        border-bottom: 1.4px solid $gray-300;
    }
    h2 {
        font-size: 17px;
        margin: 0;
    }
    ul {
        list-style-type: none;
        height: 3rem;
        font-size: 15px;
    }
}
.mini-menu {
    padding-left: 0.6rem;
}
.btsp-icons, .ggl-icons {
    color: $cust-dark1;
    font-size: 20px;
}
.clientModal, .prodModal, .messageModal {
    .modal-content {
        background-color: $cust-color2;
    }
    .myModal-title {
        font-size: 20px;
    }
}
.modal-form {
    height: 270px;
    width: 300px;
    label {
        width: 100px;
    }
    input {
        width: 180px;
        font-size: 14px;
    }
    .input-field {
        margin: 1rem auto;
        position: relative;
    }
    .message-field {
        width: 280px;
        height: 150px;
        margin: 0.5rem auto;
        label {
            width: 280px;
        }
        textarea {
            resize: none;
            width: 280px;
            height: 120px;
            margin-top: 1.2rem;
        }
    }
    .confirm-product {
        position: absolute;
        left: 100px;
        bottom: -25px;
        color: $cust-green4;
        span {
            font-size: 12.5px;
        }
    }
    .operation-response {
        width: 180px;
        .success {
            color: $cust-green4;
        }
        .failure {
            color: $cust-color1;
        }
        span {
            font-size: 12.5px;
            white-space: nowrap;
            margin-right: 10px;
        }
    }
}
.clientModal .modal-form {
    height: 270px;
    form {
        height: 250px;
    }
}
.prodModal .modal-form {
    height: 150px;
    form {
        height: 120px;
    }
}
footer {
    height: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, $cust-orange2, $cust-dark1);
    margin-top: 2rem;
    .rights {
        height: 2rem;
        width: 8rem;
        font-size: 12.5px;
        margin-top: 0.5rem;
        margin-left: 22rem;
    }
}
