@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$cust-color1: $red-400;
$cust-color2: $orange-100;
$cust-orange2: $orange-200; 
$cust-color2-200: $orange-200;
$cust-dark1: $orange-700;
$cust-gray1: $gray-100;
$cust-gray7: $gray-700;
$cust-green4: $green-400;
